body
{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container
{
    display: grid;
}

ul
{
    list-style-type: none;
}

li
{
    display: inline;
}

.search-box
{
    border-radius: 45px;
    height: 35px;
    width: 500px;
}